<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Link:</strong>
  <%= @video.link %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @video.duration %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %><br><br>

<%= @video.data %><br><br>

<%= column_chart @video.data %>

<%= line_chart @video.data %>
